Câu 1. Việt Nam bắt đầu tham gia hưởng ứng chiến dịch Giờ Trái Đất từ năm nào ?	
Câu 2: Những lợi ích về môi trường do việc sử dụng đèn Led mang lại là:	
Câu 3:  Giờ cao điểm trong các ngày thứ hai đến thứ bảy được quy định:	
Câu 4: Vì sao không nên bật, tắt điều hoà liên tục ?	
Câu 5: Nên nấu cơm bằng nồi cơm điện trước khi ăn bao lâu để tiết kiệm điện năng?	
Câu 6: Đâu là cách sử dụng máy sấy tóc giúp tiết kiệm điện?	
Câu 7: Giải pháp tiết kiệm điện nào được áp dụng khi lắp đặt máy điều hòa nhiệt độ?	
Câu 8: Theo Luật sử dụng năng lượng tiết kiệm và hiệu quả, tài nguyên năng lượng không tái tạo bao gồm?	
Câu 9: Để tiết kiệm điện cho hệ thống chiếu sáng nên tận dụng chiếu sáng tự nhiên bằng cách nào sau đây ?	
Câu 10: Cách tiết kiệm điện khi sử dụng nồi cơm điện là:	
Câu 11: Khi mua sắm thiết bị điện để sử dụng ưu tiên lựa chọn:	
Câu 12: Học sinh cần phải làm gì để góp phần trong việc tiết kiệm điện:	
Câu 13: Để sử dụng điện tiết kiệm hiệu quả, cần phải:	
Câu 14: Tiết kiệm điện là gì?	
Câu 15: ý thức nào sau đây là đúng nhất:	
Câu 16: Sử dụng hệ thống ĐMTMN có phải:	
Câu 17: Sử dụng Năng lượng xanh là:	
Câu 18: Hành động nào sau đây thể hiện ý thức tiết kiệm điện:	
Câu 19: Điện mặt trời mái nhà được tạo ra từ:	
Câu 20: Nước của bình nước nóng mặt trời được đung sôi bởi:	
Câu 21: Đâu là lợi ích khi tiết kiệm điện?	
Câu 22: Loại đèn nào trên thị trường hiện nay sử dụng điện tiết kiệm nhiều nhất?	
Câu 23: Mục đích thay thiết bị điện có hiệu suất thấp bằng thiết bị điện có hiệu suất cao là gì?	
Câu 24: Các biện pháp bố trí đèn và chế độ điều khiển giúp tiết kiệm điện trong chiếu sáng nhà, nơi làm việc là:	
Câu 25: Cách thức đơn giản để lựa chọn mua thiết bị tiết kiệm điện là:	
Câu 26: Các loại hình hoạt động tuyên truyền sử dụng điện tiết kiệm và hiệu quả:	
Câu 27: Đèn LED sử dụng công nghệ mới có nhiều ưu điểm có thể tiết kiệm bao nhiêu % điện năng của đèn thường:	
Câu 28: Đối với máy tính xách tay (laptop) có những giải pháp tiết kiệm điện là:	
Câu 29: Tiết kiệm điện khi sử dụng lò vi sóng là:	
Câu 30: Chiến dịch toàn cầu Giờ Trái đất (Earth Hour) kêu gọi mỗi gia đình hưởng ứng việc tắt điện 1 giờ trong 1 năm, diễn gia trong thời gian nào:	
Câu 31: Sử dụng tiết kiệm điện năng không mang lại lợi ích nào dưới đây?	
Câu 32: Sử dụng loại đèn nào dưới đây sẽ tiêu thụ điện năng nhiều nhất?	
Câu 33: Khi xem tivi trong phòng, chúng ta nên:	
Câu 34: Cách sử dụng nào dưới đây là tiết kiệm điện năng?	
Câu 35: Theo bạn tiết kiệm điện sẽ mang lại lợi ích gì?	
Câu 36: Khi sử dụng điều hoà ở chế độ làm mát, thang nhiệt độ ở điều hòa nên đặt thấp hơn nhiệt độ bên ngoài trời bao nhiêu 0C.	
Câu 37: Để kéo dài tuổi thọ và tiết kiệm điện cho điều hòa, chúng ta nên vệ sinh định kỳ tối thiểu như thế nào?	
Câu 38: Trong phòng đang bật điều hòa không nên sử dụng những thiết bị điện nào?	
Câu 39: Để tiết kiệm điện trong quá trình sử dụng bình nước nóng, ngoài việc bình nóng lạnh nên đặt gần nơi sử dụng, thì chúng ta nên đặt độ cao của bình so với vòi như thế nào?	
Câu 40: Hãy lựa chọn phương pháp tắt tivi tối ưu nhất về tiết kiệm điện khi không có nhu cầu xem tivi.	
Câu 41: Cách lựa chọn tủ lạnh như thế nào để giúp tiết kiệm điện năng sử dụng?	
Câu 42. Nhận định sau đây đúng hay sai: “Đối với máy giặt có tính năng giặt nước nóng, năng lượng dùng đun nước tiêu thụ khoảng 90% năng lượng cần thiết để vận hành máy giặt. Do đó hãy cân nhắc chỉ giặt nước nóng khi thực sự cần thiết”	
Câu 43. Cách sử dụng quạt điện nào sau đây không giúp tiết kiệm điện?	
Câu 44. Cách sử dụng nồi cơm điện nào sau đây giúp tiết kiệm điện?	
Câu 45. Những máy rửa bát có chức năng rửa tiết kiệm, trung bình một lần rửa có thể tiết kiệm khoảng bao nhiêu Kwh điện và khoảng bao nhiêu lít nước so máy rửa bát thường?	
Câu 46. Để đảm bảo sử dụng điện an toàn, các hành động nào sau đây không được làm?	
Câu 47. Khi cần sửa chữa hoặc lắp đặt điện trong nhà, chúng ta cần phải:	
Câu 48. Để không vi phạm khoảng cách an toàn phóng điện, thì khoảng cách tối thiểu giữa người, phương tiện, vật dụng đến đường dây, trạm điện trung thế 15kV (15.000V) là bao nhiêu?	
Câu 49. Những lợi ích của năng lượng xanh cho cuộc sống con người:	
Câu 50. Năng lượng xanh được tạo từ nguồn nào trong tự nhiên?	
Câu 51: Có nên để thức ăn đang nóng vào tủ lạnh ?	
Câu 52: Các nấu cơm để tiết kiệm điện	
Câu 53: Với nồi cơm điện bình thường, nên nấu cơm trước giờ ăn bao lâu để tiết kiệm điện tiết kiệm điện;	
Câu 54: Sử dụng bếp từ xong có nên TẮT/OFF nguồn điện cung cấp cho bếp từ	
Câu 55: Sử dụng máy điều hòa ở nhiệt độ nào là phù hợp và tiết kiệm điện	
Câu 56. Để đảm bảo sử dụng điện an toàn, các hành động nào sau đây không được làm?	
Câu 57. Khi cần sửa chữa hoặc lắp đặt điện trong nhà, chúng ta cần phải:	Câu D
Câu 58. Những lợi ích của năng lượng xanh cho cuộc sống con người:	
Câu 59. Năng lượng xanh được tạo từ nguồn nào trong tự nhiên?	
Câu 60: Cách lựa chọn tủ lạnh như thế nào để giúp tiết kiệm điện năng sử dụng?	
Câu 61. Cách đặt tủ lạnh như thế nào để tiết kiệm điện?"	
Câu 62. Sử dụng tủ lạnh như thế nào để tiết kiệm điện và bền?	
Câu 63. Cách chọn công suất máy điều hòa không khí cho phòng ngủ nào là đúng?	
Câu 64. Cách sử dụng quạt điện nào sau đây không giúp tiết kiệm điện?	
Câu 65. Chọn mua lò nướng có công suất phù hợp với nhu cầu sử dụng của gia đình:	
Câu 66. Trong các loại đèn dưới đây, loại đèn nào tiết kiệm nhất?	
Câu 67. Trong các loại thiết bị sau, thiết bị nào được cho là cung cấp từ quang năng thành nhiệt năng?	
Câu 68. Trong các loại thiết bị sau, thiết bị nào được cho là cung cấp từ quang năng thành điện năng?	
Câu 69. Khi mua máy điều hòa không khí, nên lựa chọn công nghệ tiết kiệm điện được sử dụng phổ biến nhất hiện nay?	
Câu 70. Khi mua các thiết bị điện sử dụng trong gia đình bạn lựa chọn các tiêu chí nào?	
Câu 71.Một trong những lý do vì sao tiết kiệm điện là bảo vệ môi trường:	
Câu 72. Điện năng không phải là nguồn năng lượng vô tận và có thể bị cạn kiệt do:	
Câu 73. Khi thực hiện tiết kiệm điện là bạn giúp bảo vệ môi trường	
Câu 74. Theo bạn tiết kiệm điện sẽ mang lại lợi ích gì?		
Câu 75. Khi sử dụng điều hoà ở chế độ làm mát, thang nhiệt độ ở điều hòa nên đặt thấp hơn nhiệt độ bên ngoài trời bao nhiêu oC.		
Câu 76. Để tận dụng không khí đã được điều hòa trong phòng, nên tắt điều hòa trước khi hết giờ làm việc bao nhiêu lâu?		
Câu 77. Trong phòng đang bật điều hòa không nên sử dụng những thiết bị điện nào?		
Câu 78. Khi xem tivi trong phòng, chúng ta nên:	
Câu 79. Để tiết kiệm điện trong quá trình sử dụng bình nước nóng, ngoài việc bình nóng lạnh nên đặt gần nơi sử dụng, thì chúng ta nên đặt độ cao của bình so với vòi như thế nào?		
Câu 80. Hãy lựa chọn phương pháp tắt tivi tối ưu nhất để tiết kiệm điện khi không có nhu cầu xem tivi.	
Câu 81: Thế nào là nguồn năng lượng tái tạo?	
Câu 82: Biện pháp nào dưới đây giúp tiết kiệm năng lượng?	
Câu 83: Dạng năng lượng nào không phải là năng lượng tái tạo?	
Câu 84: Đèn chiếu sáng là thiết bị không thể thiếu trong mỗi gia đình. Trong các loại đèn dưới đây, loại đèn nào tiết kiệm điện nhất?	
Câu 85: Cách sử dụng nào dưới đây là tiết kiệm điện năng?	
Câu 86: Mẹo lựa chọn các thiết bị tiết kiệm điện năng?	
Câu 87: Lợi ích của năng lượng tái tạo?	
Câu 88: Sử dụng loại đèn nào dưới đây không tiết kiệm điện?	
Câu 89: Trong các hành động sau đây, hành động nào lãng phí năng lượng?	
Câu 90: Để tiết kiệm điện cho máy điều hòa trong văn phòng chúng ta cần phải đặt nhiệt độ là bao nhiêu? 	
Câu 91. Tiết kiệm điện là gì?	
Câu 92: Các đối tượng phải thực hiện tiết kiệm điện theo Chỉ thị số 20/CT-TTg ngày 07/5/2020 về việc tăng cường tiết kiệm điện giai đoạn 2020-2025?	
Câu 93. Lợi ích của việc tiết kiệm điện mang lại cho chúng ta giá trị gì ? Hệ quả của việc lãng phí tài nguyên.	
Câu 94. Theo bạn sử dụng năng lượng tiết kiệm và hiệu quả là:	
Câu 95. Bạn hiểu và đã làm gì để tiết kiệm điện và thực hiện nó như thế nào?	
Câu 96. Theo bạn các thiết bị nào sau đây sử dụng điện năng nhiều nhất?	
Câu 97. Theo Chỉ thị số 20/CT-TTg ngày 07/5/2020 của Thủ tướng Chính phủ về tăng cường tiết kiệm điện giai đoạn 2020-2025, một trong các giải pháp tiết kiệm điện tại doanh nghiệp sản xuất là gì?	
Câu 98. Theo Luật sử dụng năng lượng tiết kiệm và hiệu quả, nhãn năng lượng là gì?	
Câu 99. Khi mua các thiết bị điện bạn quan tâm điều gì?	
Câu 100. Theo Luật sử dụng năng lượng tiết kiệm và hiệu quả, tài nguyên năng lượng tái tạo bao gồm các loại tài nguyên nào sau đây?	
Câu 101. Tại sao cần kêu gọi mọi gia đình hưởng ứng tham gia Chiến dịch toàn cầu Giờ Trái đất (Earth Hour)?	
Câu 102. Trong tự nhiên, các nhóm nguồn năng lượng gồm có ?	
Câu 103. Tổ chức, hộ gia đình, cá nhân sản xuất nông nghiệp lựa chọn các biện pháp hợp lý sau đây để sử dụng năng lượng điện tiết kiệm và hiệu quả?	
Câu 104. Ở nước ta, mạng điện trong nhà có cấp điện áp là?	
Câu 105. Trong tình huống xảy ra sự cố điện trong nhà, chúng ta nên làm gì đầu tiên?	
Câu 106. Nguyên nhân chính gây ra chập cháy khi sử dụng nhiều thiết bị điện cùng một lúc là?	
Câu 107. Lợi ích của việc sử dụng điện tiết kiệm là gì?	
Câu 108. Việt Nam bắt đầu tham gia chiến dịch Giờ Trái đất bắt đầu từ năm nào?	
Câu 109. Đâu là lợi ích khi tiết kiệm năng lượng trong sinh hoạt?	
Câu 110. Khi chọn mua máy lọc không khí, cần dựa vào lưu lượng gió phù hợp với diện tích sử dụng?	
Câu 111: Các vật liệu dẫn điện?	
Câu 112: Các vật liệu cách điện	
Câu 113: Số điện thoại tổng đài Tổng công ty Điện lực TP. Hồ Chí Minh	
Câu 114: Số điện thoại Tổng đài 1900545454 là của đơn vị nào?	
Câu 115: Có được thả diều gần đường dây điện cao thế không?	
Câu 116:Việc gửi thông tin đến khách hàng được hỗ trợ qua các kênh?	
Câu 117: Trong các loại máy giặt dưới đây, loại nào tiêu thụ điện và nước ít hơn?	
Câu 118: Khi chọn mua máy lọc không khí, cần dựa vào lưu lượng gió phù hợp với diện tích sử dụng như thế nào? (Chọn đáp án đúng)	
Câu 119: Nếu bàn ủi bạn dùng chỉ chia mức nhiệt theo mức 1, 2, 3 mà không có ký hiệu về chất liệu vải thì thứ tự tương ứng nào của các chất liệu sau đây là đúng ?	
Câu 120: Trong các đáp án dưới đây, chọn đáp án dung tích nồi cơm điện phù hợp với số lượng người trong gia đình:	
Câu 121: Trong những ngành dưới đây, ngành nào tiêu thụ năng lượng nhiều nhất?	
Câu 122: Mẹo lựa chọn các thiết bị tiết kiệm điện năng?	
Câu 123: Trong các loại năng lượng dưới đây, loại nào không phải là năng lượng tái tạo?	
Câu 124: Trong các loại đèn chiếu sáng dưới đây, loại đèn nào tiết kiệm điện nhất?	
Câu 125: Hãy chỉ ra cách sử dụng quạt điện nhằm tiết kiệm điện năng hiệu quả nhất?	
Câu 126: Hãy chỉ ra cách sử dụng quạt công nghiệp giúp tiết kiệm điện năng?	
Câu 127: Trên thị trường hiện nay có nhiều loại tivi với các công nghệ khác nhau, người tiêu dùng nên lựa chọn tivi có công nghệ nào để tiết kiệm điện năng?	
Câu 128: Hãy chỉ ra cách sử dụng bàn là ( bàn ủi) tiết kiệm điện năng?	
Câu 129: Để sử dụng bếp từ an toàn, tiết kiệm và hiệu quả cần lưu ý những gì?	
Câu 130: Nên chọn loại nồi nào để sử dụng bếp điện từ?	
Câu 131: Trong 3 loại máy giặt dưới đây, loại máy giặt nào tiêu thụ điện năng nhiều nhất?	
Câu 132: Hãy lựa chọn khối lượng máy sấy quần áo phù hợp với gia đình có 3-4 thành viên?	
Câu 133: Đối với điều hòa không khí, đâu là công nghệ tiết kiệm điện được sử dụng phổ biến nhất hiện nay?	
Câu 134: Các nghiên cứu chỉ ra rằng cứ cài đặt nhiệt độ điều hoà tăng 1 độ C sẽ tiết kiệm được 1 - 3% điện năng. Vậy, nếu nhiệt độ bên ngoài là 32 độ C, nhiệt độ cài đặt cao nhất của điều hòa không khí nên là bao nhiêu sẽ tiết kiệm điện năng tiêu thụ?	
Câu 135: Để tiết kiệm điện năng, nên sử dụng máy tính như thế nào?	
Câu 136: Sử dụng tiết kiệm điện năng không mang lại lợi ích nào dưới đây?	
Câu 137: Sử dụng loại đèn nào dưới đây sẽ tiêu thụ điện năng nhiều nhất?	
Câu 138: Cần phải sử dụng tiết kiệm điện năng vì:	
Câu 139: Cách sử dụng nào dưới đây là tiết kiệm điện năng?	
Câu 140: Hành động nào sau đây gây lãng phí năng lượng?	
Câu 141: Các nguồn năng lượng không tái tạo gây ra tác động gì đến sức khỏe con người?	
Câu 142: Đâu là lợi ích khi tiết kiệm năng lượng?	
Câu 143: Khi sử dụng điều hòa, đâu là biện pháp giúp tiết kiệm điện?	
Câu 144: Chọn biện pháp đúng giúp tiết kiệm điện khi sử dụng ti vi:	
Câu 145: Đâu là biện pháp giúp tiết kiệm điện khi dùng bếp điện, lò vi sóng?	
Câu 146: Thực trạng nào cho thấy tính cần thiết cần tiết kiệm khi sử dụng năng lượng?	
Câu 147: Loại năng lượng nào được tiết kiệm trong các trường hợp sau?	
Câu 148: Biện pháp nào sau đây giúp hạn chế sử dụng dạng năng lượng không tái tạo?	
Câu 149: Đối với gia đình có nhu cầu in ấn văn bản thông thường, nên lựa chọn sử dụng loại máy in nào sau đây để tiết kiệm năng lượng:	
Câu 150. Nên nấu cơm bằng nồi cơm điện trước khi ăn bao lâu để tiết kiệm điện năng?	
Câu 151. Trong những ngành dưới đây, ngành nào tiêu thụ năng lượng nhiều nhất?	
Câu 152. Trong các loại năng lượng dưới đây, loại nào không phải là năng lượng tái tạo?	
Câu 153. Đối với gia đình có 5-6 thành viên thì nên chọn lò vi sóng có công suất bao nhiêu?	
Câu 154. Đâu là cách sử dụng máy sấy tóc giúp tiết kiệm điện?	
Câu 155. Bàn ủi tuy có kích thước nhỏ nhưng lại tiêu tốn lượng điện khá lớn so với các loại thiết bị điện khác do công suất lớn, tỏa nhiệt mạnh. Đâu là cách sử dụng bàn ủi gây lãng phí điện năng?	
Câu 156.  Đối với điều hòa không khí, đâu là công nghệ tiết kiệm điện được sử dụng phổ biến nhất hiện nay?	
Câu 157. Giải pháp cốt lõi giúp các doanh nghiệp tiết kiệm năng lượng?	