CauHoi	DapAn
Câu 1. Việt Nam bắt đầu tham gia hưởng ứng chiến dịch Giờ Trái Đất từ năm nào ?	
A. - 2008	
B. - 2009	x
C. - 2010	
Câu 2: Những lợi ích về môi trường do việc sử dụng đèn Led mang lại là:	
A. - Tiêu thụ tiết kiệm điện năng	
B. - Giảm một lượng khí CO2 thải ra cho mỗi kW năng lượng tiết kiệm; các loại đèn này đều không chứa các chất độc hại như thủy ngân và tia tử ngoại, vì thế sẽ không gây hại cho mắt, an toàn cho người sử dụng và rất thân thiện môi trường	x
C. - Không chứa thủy ngân, các chất độc hại, không phát sinh ra tia cực tím, bức xạ tia hồng ngoại và không gây ô nhiễm môi trường	
Câu 3:  Giờ cao điểm trong các ngày thứ hai đến thứ bảy được quy định:	
A. - Từ 9h 30 sáng đến 11h 30 sáng và từ 17h 00 chiều đến 20h 00 tối	x
B. - Từ 10h 00 sáng đến 12h 00 trưa và từ 05h 00 chiều đến 08h 00 tối	
C. - Từ 4h 30 sáng đến 07h 00 sáng và từ 09h 00 tối đến 11h 30 tối	
Câu 4: Vì sao không nên bật, tắt điều hoà liên tục ?	
A. - Bật/tắt máy điều hoà liên tục sẽ làm máy phải khởi động nhiều lần, điện năng tiêu thụ cho việc làm lạnh lại căn phòng từ đầu nhiều hơn; giảm tuổi thọ của điều hoà	x
B. - Bật/tắt nhiều lần làm giảm tuổi thọ của điều hoà	
C. - Bật/tắt điều hoà nhiều lần khi không sử dụng giúp tiết kiệm điện năng tiêu thu	
Câu 5: Nên nấu cơm bằng nồi cơm điện trước khi ăn bao lâu để tiết kiệm điện năng?	
A. Nên nấu trước khoảng 30 - 45 phút	x
B. Nấu trước bao lâu cũng được vì cơm đã chín không tiêu thụ điện năng	
C. Nấu trước khoảng 2 tiếng để đảm bảo độ chín của cơm	
D. Cả 3 đáp án trên đều sai	
Câu 6: Đâu là cách sử dụng máy sấy tóc giúp tiết kiệm điện?	
A. Lau tóc khô tối đa trước khi sử dụng máy sấy	
B. Không để máy sấy tóc sử dụng quá lâu	
C. Trong khi sấy tóc, cứ sau 10 giây thì nên chuyển đổi giữa chế độ sấy nóng sang chế độ chỉ thổi gió. Khi tóc gần khô nên chuyển hẳn sang chế độ chỉ quạt	
D. Cả 3 đáp án trên đều đúng	x
Câu 7: Giải pháp tiết kiệm điện nào được áp dụng khi lắp đặt máy điều hòa nhiệt độ?	
A. Lắp dàn nóng càng gần phòng sử dụng càng tốt	
B. Đặt dàn nóng gần mặt đất để tiện việc vệ sinh	
C. Đặt dàn nóng càng cao càng tốt	
D. Không đặt dàn nóng nơi có ánh nắng chiếu trực tiếp	x
Câu 8: Theo Luật sử dụng năng lượng tiết kiệm và hiệu quả, tài nguyên năng lượng không tái tạo bao gồm?	
A. Sức nước, sức gió, ánh sáng mặt trời, quặng urani, địa nhiệt, nhiên liệu sinh học, khí biogas	
B. Than đá, khí than, dầu mỏ, khí thiên nhiên, quặng urani và các tài nguyên năng lượng khác không có khả năng tái tạo	x
C. Năng lượng mặt trời, địa nhiệt, nhiên liệu sinh học và các tài nguyên năng lượng khác có khả năng tái tạo	
D. Than đá, khí than, dầu mỏ, khí thiên nhiên, quặng urani, nhiên liệu sinh học, năng lượng mặt trời và các tài nguyên năng lượng khác không có khả năng tái tạo	
Câu 9: Để tiết kiệm điện cho hệ thống chiếu sáng nên tận dụng chiếu sáng tự nhiên bằng cách nào sau đây ?	
A. – Sử dụng các tấm tôn nhựa trong, mờ; phối hợp cửa lấy sáng với cửa thông gió; sử dụng các cửa sổ lấy ánh sáng có ô văng, giếng trời	x
B. – Sử dụng cửa lấy sáng hay sử dụng giếng trời	
C. – Sử dụng tôn nhựa	
Câu 10: Cách tiết kiệm điện khi sử dụng nồi cơm điện là:	
A. - Dùng chung ổ cắm với các thiết bị đun nấu khác để thuận tiện kiểm soát	
B. - Không nấu cơm quá sớm, chỉ nấu cơm trước khi ăn khoảng 30 đến 45 phút để hạn chế thời gian hâm nóng	x
C. - Chọn nồi cơm có dung tích lớn để cơm mau chín hơn	
Câu 11: Khi mua sắm thiết bị điện để sử dụng ưu tiên lựa chọn:	
A. Thiết bị điện có mẫu mã đẹp, công suất lớn.	
B. Thiết bị điện có công suất sử dụng phù hợp, được dán nhãn sản phẩm tiết kiệm 5 sao.	
C. Thiết bị diện có chứng nhận là sản phẩm inveter.	
D. Câu B và C đúng	x
Câu 12: Học sinh cần phải làm gì để góp phần trong việc tiết kiệm điện:	
A. Chỉ sử dụng đèn vào ban ngày khi thật sự cần thiết.	
B. Mở cửa sổ, tận dụng ánh sáng và gió trời.	
C. Cả 02 đáp án trên đều đúng.	x
D. Cả 02 đáp án trên đều sai.	
Câu 13: Để sử dụng điện tiết kiệm hiệu quả, cần phải:	
A. Hạn chế sử dụng điện (sử dụng ít).	
B.Tắt tất cả các thiết bị điện khi không sử dụng.	
C. Sử dụng điện khi cần thiết, không sử dụng thì tắt ngay và rút thiết bị ra khỏi ổ cắm điện.	
D. Câu B và C đều đúng.	x
Câu 14: Tiết kiệm điện là gì?	
A. Không sử dụng bừa bãi, chỉ sử dụng khi thật sự cần thiết.	
B. Khi không sử dụng phải tắt ngay, tách rời thiết bị điện ra khỏi nguồn điện (khỏi ổ cắm).	
C. Không sử dụng các thiết bị tiêu thụ điện lớn vào ban đêm (từ 19 đến 21 giờ).	
D. Tất cả đáp án trên đều đúng.	x
Câu 15: ý thức nào sau đây là đúng nhất:	
A. Hạn chế sử dụng điện.	
B. Có ý thức sử dụng điện tiết kiệm, tạo thành thói quen và áp dụng trong cuộc sống hàng ngày.	x
C. Không sử dụng máy lạnh.	
D. Không sử dụng thiết bị điện có công suất tiêu thụ lớn.	
Câu 16: Sử dụng hệ thống ĐMTMN có phải:	
A. Góp phần giảm ô nhiễm môi trường và hỗ trợ ngành điện có đủ điện cung cấp cho người dân.	
B. Góp phần bảo vệ sức khỏe cho bản thân và những người xung quanh.	

Câu 17: Sử dụng Năng lượng xanh là:	
A. Sử dụng điện được tạo ra từ Nhà máy nhiệt điện.	
B. Sử dụng điện được tạo ra từ năng lượng mặt trời và gió.	x

Câu 18: Hành động nào sau đây thể hiện ý thức tiết kiệm điện:	
A. Chỉ sử dụng điện khi thật sự cần thiết, không sử dụng thì tắt ngay.	
B. Rút tất cả thiết bị điện ra khỏi phích cắm khi không sử dụng.	
C. Không mở máy lạnh khi không có người.	
D. Tất cả đáp án trên đều đúng.	x
Câu 19: Điện mặt trời mái nhà được tạo ra từ:	
A. Nhiệt độ nóng.	
B. Bức xạ ánh sáng mặt trời.	x
C. Sức Gió.	
D. Tất cả đáp án trên đều đúng.	
Câu 20: Nước của bình nước nóng mặt trời được đung sôi bởi:	
A. Bức xạ ánh sáng mặt trời.	x
B. Gió.	
C. Cả đáp 02 án trên đều sai.	
D. Cả đáp 02 án trên đều đúng	
Câu 21: Đâu là lợi ích khi tiết kiệm điện?	
A. Giúp tiết kiệm chi phí.	
B. Bảo tồn các nguồn năng lượng không tái tạo.	
C. Giảm lượng chất thải, giảm ô nhiễm môi trường.	
D. Cả ba đáp án A, B, C đều đúng.	x
Câu 22: Loại đèn nào trên thị trường hiện nay sử dụng điện tiết kiệm nhiều nhất?	
A. Compact.	
B. Sợi đốt.	
C. Led.	x
D. Huỳnh Quang	
Câu 23: Mục đích thay thiết bị điện có hiệu suất thấp bằng thiết bị điện có hiệu suất cao là gì?	
A. Tiết kiệm được lượng điện tiêu thụ.	
B. Tiết kiệm được tiền điện hàng tháng cho khách hàng.	
C. Đem lại lợi nhuận cho người bán thiết bị.	
D. Câu A và B đúng	x
Câu 24: Các biện pháp bố trí đèn và chế độ điều khiển giúp tiết kiệm điện trong chiếu sáng nhà, nơi làm việc là:	
A. Mỗi Phòng nên có một công tắt riêng và chế độ điều khiển chiếu sáng khác nhau: lúc làm việc, bình thường và ban đêm.	
B. Thay đổi đèn tròn bằng đèn compact và số lượng ít hơn so với đèn tròn.	
C. Ở những không gian rộng nên chiếu sáng theo từng nhóm và mỗi nhóm nên có công tắc riêng.	
D. Câu A và C đúng.	x
Câu 25: Cách thức đơn giản để lựa chọn mua thiết bị tiết kiệm điện là:	
A. Chọn thiết bị có dán nhãn năng lượng.	x
B. Dùng thử thiết bị trước khi mua.	
C. Theo hướng dẫn của người bán hàng.	
D. Sử dụng và so sánh nhiều loại thiết bị trước khi quyết định mua.	
Câu 6: Các loại hình hoạt động tuyên truyền sử dụng điện tiết kiệm và hiệu quả:	
A. Cung cấp thông tin, quảng bá về sử dụng điện tiết kiệm, hiệu quả, các giải pháp sử dụng điện tiết kiệm.	
B. Kêu gọi hạn chế sử dụng điện và chuyển sang sử dụng loại nhiên liệu năng lượng khác.	
C. Đào tạo, tư vấn áp dụng mô hình sử dụng điện có hiệu suất cao.	
D. Kết hợp câu A và C.	x
Câu 27: Đèn LED sử dụng công nghệ mới có nhiều ưu điểm có thể tiết kiệm bao nhiêu % điện năng của đèn thường:	
A. 30%.	
B. 40%.	
C. 50%.	x
D. 70%.	
Câu 28: Đối với máy tính xách tay (laptop) có những giải pháp tiết kiệm điện là:	
A. Dùng màn hình LED và tạo riêng nhiều chế độ tiết kiệm điên trên máy.	
B. Giảm thời gian chờ tự động tắt màn hình.	
C. Chọn mua ổ cứng flash.	
D. Tất cả giải pháp A, B, C.	x
Câu 29: Tiết kiệm điện khi sử dụng lò vi sóng là:	
A. Chỉ sử dụng lò với số lượng nhỏ thực phẩm cần chế biến.	
B. Không bật lò vi sóng trong phòng đang dùng điều hòa nhiệt độ.	
C. Đặt lò tránh xa các thiết bị điện khác để không làm ảnh hưởng lò.	
D. Câu B và Câu C đúng	x
Câu 30: Chiến dịch toàn cầu Giờ Trái đất (Earth Hour) kêu gọi mỗi gia đình hưởng ứng việc tắt điện 1 giờ trong 1 năm, diễn gia trong thời gian nào:	
A. Từ 20h00 đến 21h00, ngày thứ bảy cuối cùng của tháng 3.	
B. Từ 20h30 đến 21h30, ngày thứ bảy cuối cùng của tháng 3.	x
C. Từ 20h00 đến 21h00, ngày chủ nhật cuối cùng của tháng 3.	
D. Từ 20h30 đến 21h30, ngày chủ nhật cuối cùng của tháng 3.	
Câu 31: Sử dụng tiết kiệm điện năng không mang lại lợi ích nào dưới đây?	
A. Góp phần làm giảm ô nhiễm môi trường.	
B. Góp phần phát triển sản xuất.	
C. Góp phần chữa các bệnh hiểm nghèo.	x
D. Góp phần làm giảm bớt các sự cố về điện.	
Câu 32: Sử dụng loại đèn nào dưới đây sẽ tiêu thụ điện năng nhiều nhất?	
A. Đèn compac	
B. Đèn dây tóc nóng sáng	x
C. Đèn LED (điốt phát quang)	
D. Đèn ống (đèn huỳnh quang)	
Câu 33: Khi xem tivi trong phòng, chúng ta nên:	
A. Tắt bớt đèn trong phòng.	
B. Điều chỉnh độ sáng của màn hình tivi ở mức độ phù hợp, không quá sáng và chỉnh âm lượng ở mức đủ nghe.	
C. Tất cả các đáp án trên đều đúng.	x
Câu 34: Cách sử dụng nào dưới đây là tiết kiệm điện năng?	
A. Sử dụng đèn công suất là 100W.	
B. Sử dụng thiết bị điện khi cần thiết.	x
C. Cho quạt chạy khi mọi người đi khỏi nhà.	
D. Bật sáng tất cả các đèn trong nhà suốt đêm.	
Câu 35: Theo bạn tiết kiệm điện sẽ mang lại lợi ích gì?	
A. Tiết kiệm chi phí của gia đình, chi phí doanh nghiệp và ngân sách Nhà nước.	
B. Tiết kiệm tài nguyên thiên nhiên và bảo vệ môi trường.	
C. Tất cả các đáp án trên đều đúng.	x
Câu 36: Khi sử dụng điều hoà ở chế độ làm mát, thang nhiệt độ ở điều hòa nên đặt thấp hơn nhiệt độ bên ngoài trời bao nhiêu 0C.	
A. 30C	
B. 50C	
C. Từ 3 0C đến 5 0C	x
Câu 37: Để kéo dài tuổi thọ và tiết kiệm điện cho điều hòa, chúng ta nên vệ sinh định kỳ tối thiểu như thế nào?	
A. 3 đến 6 tháng.	x
B. Từ 6 đến 12 tháng	
C. Trên 12 tháng.	
Câu 38: Trong phòng đang bật điều hòa không nên sử dụng những thiết bị điện nào?	
A. Các thiết bị điện có nhiệt độ cao.	x
B. Quạt điện.	
C. Tất cả các đáp án trên đều đúng.	
Câu 39: Để tiết kiệm điện trong quá trình sử dụng bình nước nóng, ngoài việc bình nóng lạnh nên đặt gần nơi sử dụng, thì chúng ta nên đặt độ cao của bình so với vòi như thế nào?	
A. Dưới 2m.	x
B. Dưới 3m.	
C. Dưới 4m.	
Câu 40: Hãy lựa chọn phương pháp tắt tivi tối ưu nhất về tiết kiệm điện khi không có nhu cầu xem tivi.	
A. Tắt bằng điều kiển từ xa.	
B. Tắt bằng công tăc nguồn.	
C. Rút phích cắm tivi ra khỏi ổ cắm.	x
Câu 41: Cách lựa chọn tủ lạnh như thế nào để giúp tiết kiệm điện năng sử dụng?	
A. Lựa chọn tủ lạnh có nhiều sao, tốt nhất là 5 sao hiệu suất năng lượng để tiết kiệm điện;	
B. Nên chọn tủ lạnh có dung tích và công suất phù hợp với số người trong gia đình và nhu cầu sử dụng;	
C. Cả 2 câu A và B đều đúng;	x
D. Cả 2 câu A và B đều sai;	
Câu 42. Nhận định sau đây đúng hay sai: “Đối với máy giặt có tính năng giặt nước nóng, năng lượng dùng đun nước tiêu thụ khoảng 90% năng lượng cần thiết để vận hành máy giặt. Do đó hãy cân nhắc chỉ giặt nước nóng khi thực sự cần thiết”	
A. Đúng;	x
B. Sai;	
C. Nên giặt nước nóng trong mọi trường hợp	
D. Không nên giặt nước nóng vì không có lợi ích gì	
Câu 43. Cách sử dụng quạt điện nào sau đây không giúp tiết kiệm điện?	
A. Tắt quạt, rút phích cắm khi không sử dụng;	
B. Hạn chế sử dụng các chức năng kèm theo của quạt như tạo ion, phun hơi, phun sương, tạo hương thơm, đèn báo... nếu không cần thiết;	
C. Tận dụng chế độ hẹn giờ (nhất là khi sử dụng qua đêm);	
D. Lắp đặt quạt ở vị trí bất kì vị trí nào trong phòng và dùng tốc độ gió cao nhất;	x
Câu 44. Cách sử dụng nồi cơm điện nào sau đây giúp tiết kiệm điện?	
A. Với nồi cơm điện bình thường, nên nấu cơm trước giờ ăn khoảng 30 - 45 phút, không nấu cơm trước giờ ăn quá lâu;	
B. Nên thường xuyên vệ sinh các bộ phận của nồi cơm điện như lòng nồi, thân nồi, mâm nhiệt, van thoát hơi;	
C. Sử dụng chế độ hâm nóng cơm trong thời gian dài;	
D. Câu A và B đúng;	x
Câu 45. Những máy rửa bát có chức năng rửa tiết kiệm, trung bình một lần rửa có thể tiết kiệm khoảng bao nhiêu Kwh điện và khoảng bao nhiêu lít nước so máy rửa bát thường?	
A. 0,05 đến 0,1 Kwh điện và 0,5 đến 1 lít nước	
B. 0,15 đến 0,2 Kwh điện và 2 đến 3 lít nước	
C. 0,2 đến 0,25 Kwh điện và 3 đến 3,5 lít nước	
D. 0,361 đến 0,561 Kwh điện và 4 đến 6 lít nước	x
Câu 46. Để đảm bảo sử dụng điện an toàn, các hành động nào sau đây không được làm?	
A. Sử dụng dây dẫn điện, thiết bị điện và thiết bị sử dụng điện trong nhà có chất lượng kém như: dây điện bị tróc vỏ, ấm nước siêu tốc bị hư phích cắm…;	
B. Phơi quần áo; treo, móc vật dụng, hàng hoá… vào dây dẫn điện;	
C. Cắm trực tiếp đầu dây dẫn điện (không có phích cắm) vào ổ cắm điện.;	
D. Tất cả các hành động trên;	x
Câu 47. Khi cần sửa chữa hoặc lắp đặt điện trong nhà, chúng ta cần phải:	
A. Ngắt thiết bị đóng cắt điện (cầu dao, cầu chì, công tắc) và treo tại thiết bị đóng cắt điện biển báo: CẤM ĐÓNG ĐIỆN, CÓ NGƯỜI ĐANG LÀM VIỆC;	
B. Nhà ẩm ướt muốn thao tác phải đứng trên vật cách điện (ghế gỗ, nhựa khô…)..	
C. Mang găng tay cách điện khi sử dụng các công cụ điện cầm tay;	
D. Tất cả đều đúng.	x
Câu 48. Để không vi phạm khoảng cách an toàn phóng điện, thì khoảng cách tối thiểu giữa người, phương tiện, vật dụng đến đường dây, trạm điện trung thế 15kV (15.000V) là bao nhiêu?	
A. 2 mét.	x
B. 4 mét.	
C. 6 mét.	
D. 8 mét.	
Câu 49. Những lợi ích của năng lượng xanh cho cuộc sống con người:	
A. Hỗ trợ bảo vệ môi trường: sử dụng các nguồn năng lượng xanh không phát thải ra khí CO2 nên không gây ô nhiễm môi trường;	
B. Tiết kiệm chi phí hiệu quả: với các nguồn năng lượng xanh như năng lượng mặt trời, năng lượng gió, sử dụng các nguồn năng lượng này sẽ giúp chủ đầu tư giảm thiểu chi phí hóa đơn tiền điện hàng tháng;	
C. Câu A và B đều đúng;	x
D. Cả 3 câu trên đều sai;	
Câu 50. Năng lượng xanh được tạo từ nguồn nào trong tự nhiên?	
A. Mặt trời;	
B. Gió;	
C. Thủy triều;	
D. Tất cả đều đúng.	x
Câu 51: Có nên để thức ăn đang nóng vào tủ lạnh ?	
A. Không . Vì để thức ăn nóng vào tủ sẽ làm nhiệt độ và độ ẩm trong tủ tăng lên, tiêu thụ năng lượng nhiều hơn	x
B. Có. Vì đảm bảo thức ăn ngon, không làm tăng lượng điện tiêu thụ	
C. Cả 2 đều đúng	
Câu 52: Các nấu cơm để tiết kiệm điện	
A. Ngâm gạo với nước ấm hoặc nước nóng trước khi nấu	x
B. Ngâm gạo với nước đun sôi để nguội trước khi nấu	
C. Ngâm gạo với nước đá trước khi nấu	
D. Ngâm gạo với nước lạnh trước khi nấu	
Câu 53: Với nồi cơm điện bình thường, nên nấu cơm trước giờ ăn bao lâu để tiết kiệm điện tiết kiệm điện;	
A. 30-45 phút	x
B. 2 giờ cho cơm mềm hơn	
C. 8 giờ vì để dành chiều khỏi nấu	
D. 12 giờ vì sẳn sàng cho nguyên ngày khỏi nấu	
Câu 54: Sử dụng bếp từ xong có nên TẮT/OFF nguồn điện cung cấp cho bếp từ	
A. Không . Vì bật/tắt CB nhiều lần sẽ ảnh hưởng đến tuổi thọ CB và bếp	
B. Có. Vì đảm bảo đảm bảo an toàn, các vật dụng hoặc con vật (ví dụ: chuột, gián…) khi di chuyển chạm vào cảm ứng nguồn, có thể kích hoạt bếp hoạt động khi không có người, có thể xảy ra hỏa hoạn	X
C. Không. Vì ảnh hưởng đến tuổi thọ bếp	
D. Không. Vì không tiêu hao điện năng	
Câu 55: Sử dụng máy điều hòa ở nhiệt độ nào là phù hợp và tiết kiệm điện	
A. 18 độ C Càng lạnh càng mát	
B. 20 độ C.	
C. Cài đặt nhiệt độ phù hợp trên mức 26 - 28 o C vào ban ngày và ban đêm từ 25 o C - 27 o C - Cứ cài đặt nhiệt độ tăng 1 o C sẽ tiết kiệm được 1 - 3% điện năng	X
D. 30 độc C để tiết kiệm điện hiệu quả	
Câu 56. Để đảm bảo sử dụng điện an toàn, các hành động nào sau đây không được làm?	
A. Sử dụng dây dẫn điện, thiết bị điện và thiết bị sử dụng điện trong nhà có chất lượng kém như: dây điện bị tróc vỏ, ấm nước siêu tốc bị hư phích cắm…;	
B. Phơi quần áo; treo, móc vật dụng, hàng hoá… vào dây dẫn điện;	
C. Cắm trực tiếp đầu dây dẫn điện (không có phích cắm) vào ổ cắm điện.;	
D. Tất cả các hành động trên;	x
Câu 57. Khi cần sửa chữa hoặc lắp đặt điện trong nhà, chúng ta cần phải:	Câu D
A. Ngắt thiết bị đóng cắt điện (cầu dao, cầu chì, công tắc) và treo tại thiết bị đóng cắt điện biển báo: CẤM ĐÓNG ĐIỆN, CÓ NGƯỜI ĐANG LÀM VIỆC;	
B. Nhà ẩm ướt muốn thao tác phải đứng trên vật cách điện (ghế gỗ, nhựa khô…)..	
C. Mang găng tay cách điện khi sử dụng các công cụ điện cầm tay;	
D. Tất cả đều đúng.	x
Câu 58. Những lợi ích của năng lượng xanh cho cuộc sống con người:	
A. Hỗ trợ bảo vệ môi trường: sử dụng các nguồn năng lượng xanh không phát thải ra khí CO2 nên không gây ô nhiễm môi trường;	
B. Tiết kiệm chi phí hiệu quả: với các nguồn năng lượng xanh như năng lượng mặt trời, năng lượng gió, sử dụng các nguồn năng lượng này sẽ giúp chủ đầu tư giảm thiểu chi phí hóa đơn tiền điện hàng tháng;	
C. Câu A và B đều đúng;	x
D. Cả 3 câu trên đều sai;	
Câu 59. Năng lượng xanh được tạo từ nguồn nào trong tự nhiên?	
A. Mặt trời;	
B. Gió;	
C. Thủy triều;	
D. Tất cả đều đúng.	x
Câu 60: Cách lựa chọn tủ lạnh như thế nào để giúp tiết kiệm điện năng sử dụng?	
A. Lựa chọn tủ lạnh có nhiều sao, tốt nhất là 5 sao hiệu suất năng lượng để tiết kiệm điện;	
B. Nên chọn tủ lạnh có dung tích và công suất phù hợp với số người trong gia đình và nhu cầu sử dụng;	
C. Cả 2 câu A và B đều đúng;	x
D. Cả 2 câu A và B đều sai;	
Câu 61. Cách đặt tủ lạnh như thế nào để tiết kiệm điện?"	
A. Đặt tủ sát tường;	
B. Đặt cách tường 15 đến 20 cm;	
C. Tránh ánh nắng hoặc gần các nguồn nhiệt;	
D. Câu B và C đúng;	x
Câu 62. Sử dụng tủ lạnh như thế nào để tiết kiệm điện và bền?	
A. Vệ sinh tủ lạnh, kiểm tra gioăng cửa tủ lạnh;	
B. Mở cửa tủ lạnh lâu;	
C. Chỉnh nhiệt độ tủ lạnh phù hợp;	
D. Câu A và C đúng;	x
Câu 63. Cách chọn công suất máy điều hòa không khí cho phòng ngủ nào là đúng?	
A. Diện tích < 15 m² chọn công suất máy ⁓ 1.5HP	
B. Diện tích từ 15 - 20 m² chọn công suất máy ⁓ 1.5HP	x
C. Diện tích từ 25 - 35 m² chọn công suất máy ⁓ 2.5 HP	
D. Diện tích từ 35 - 40 m² chọn công suất máy ⁓ 2.0 HP	
Câu 64. Cách sử dụng quạt điện nào sau đây không giúp tiết kiệm điện?	
A. Tắt quạt, rút phích cắm khi không sử dụng;	
B. Hạn chế sử dụng các chức năng kèm theo của quạt như tạo ion, phun hơi, phun sương, tạo hương thơm, đèn báo... nếu không cần thiết;	
C. Tận dụng chế độ hẹn giờ (nhất là khi sử dụng qua đêm);	
D. Lắp đặt quạt ở vị trí bất kì vị trí nào trong phòng và dùng tốc độ gió cao nhất;	x
Câu 65. Chọn mua lò nướng có công suất phù hợp với nhu cầu sử dụng của gia đình:	
A. Dưới 25 lít - Công suất phù hợp 1300-1400W	
B. 25-35 lít - Công suất phù hợp 1500-1800W	
C. 45-50 lít - Công suất phù hợp 2000W	
D. Tất cả đều đúng	x
Câu 66. Trong các loại đèn dưới đây, loại đèn nào tiết kiệm nhất?	
A. Đèn huỳnh quang	
B. Đèn sợi đốt	
C. Đèn compact	
D. Đèn Led	x
Câu 67. Trong các loại thiết bị sau, thiết bị nào được cho là cung cấp từ quang năng thành nhiệt năng?	
A. Bình nước nóng điện trở	
B. Bình nước nóng năng lượng mặt trời	x
C. Bình nước nóng, lạnh trong sinh hoạt	
D. Bình đung siêu tốc	
Câu 68. Trong các loại thiết bị sau, thiết bị nào được cho là cung cấp từ quang năng thành điện năng?	
A. Hệ thống pin mặt trời	x
B. Hệ thống tuabin gió	
C. Hệ thống pin dự trữ (UPS)	
D. Hệ thống thủy điện	
Câu 69. Khi mua máy điều hòa không khí, nên lựa chọn công nghệ tiết kiệm điện được sử dụng phổ biến nhất hiện nay?	
A. Công nghệ nano phân tử;	
B. Công nghệ trí tuệ nhân tạo (AI);	
C. Công nghệ biến tần (inverter);	x
D. Công nghệ lượng tử;	
Câu 70. Khi mua các thiết bị điện sử dụng trong gia đình bạn lựa chọn các tiêu chí nào?	
a. Thiết bị điện có giá bán thấp nhưng không tiết kiệm điện.	
b. Thiết bị điện có giá bán cao, có tiết kiệm điện.	
c. Thiết bị điện không tiết kiệm điện	
d. Thiết bị điện có giá cả phù hợp túi tiền người tiêu dùng và có dán nhãn tiết kiện điện	x
Câu 71.Một trong những lý do vì sao tiết kiệm điện là bảo vệ môi trường:	
a. Bởi để sản xuất điện lượng than đốt, dầu khí đốt là cực kì nhiều.	
b. Việc xây dựng thủy điện khiến các con sông bị ngăn lại, nguy cơ hạn hán và lũ lụt cực kì lớn	
c. Câu a và b đúng	x
d. Câu a và b đều sai	
Câu 72. Điện năng không phải là nguồn năng lượng vô tận và có thể bị cạn kiệt do:	
a. Phần lớn điện năng được sản xuất từ than.	
b. Phần lớn điện năng được sản xuất từ dầu mỏ	
c. Phần lớn điện năng được sản xuất từ gas	
d. Tất cả các câu trên	x
Câu 73. Khi thực hiện tiết kiệm điện là bạn giúp bảo vệ môi trường	
a. Vì Điện năng chính là nguyên nhân gây nên những vấn đề như hiệu ứng nhà kính, trái đất nóng lên, băng tan, ô nhiễm không khí…	x
b. Vì điện năng giúp vận hành các thiết bị, máy móc cho sản xuất	
c. Vì điện năng giúp thắp sáng các tòa nhà, đường phố	
d. Tất cả các câu trên	
Câu 74. Theo bạn tiết kiệm điện sẽ mang lại lợi ích gì?	
a. Tiết kiệm chi phí của gia đình, chi phí doanh nghiệp và ngân sách Nhà nước.	
b. Tiết kiệm tài nguyên thiên nhiên và bảo vệ môi trường.	
c. Tất cả các đáp án trên đều đúng.	x
d. Tất cả các câu trên đều sai	
Câu 75. Khi sử dụng điều hoà ở chế độ làm mát, thang nhiệt độ ở điều hòa nên đặt thấp hơn nhiệt độ bên ngoài trời bao nhiêu oC.	
a. 3	
b. 5	
c. Từ 3 đến 5.	x
d. Tất cả các câu trên đều sai	
Câu 76. Để tận dụng không khí đã được điều hòa trong phòng, nên tắt điều hòa trước khi hết giờ làm việc bao nhiêu lâu?	
a. Từ 5 đến 10 phút trở lên.	x
b. Dưới 5 phút.	
c. Ngay sau khi hết giờ làm việc và ra khỏi phòng.	
d. Tất cả các câu trên đều sai	
Câu 77. Trong phòng đang bật điều hòa không nên sử dụng những thiết bị điện nào?	
a. Quạt điện.	
b. Bàn ủi, máy sấy tóc.	x
c. Đèn.	
d. Tất cả các câu trên đều sai	
Câu 78. Khi xem tivi trong phòng, chúng ta nên:	
a. Tắt bớt đèn trong phòng.	
b. Điều chỉnh độ sáng của màn hình tivi ở mức độ phù hợp, không quá sáng và chỉnh âm lượng ở mức đủ nghe.	
c. Mở tất cả các cửa phòng	
d. Đáp án a và b đúng	x
Câu 79. Để tiết kiệm điện trong quá trình sử dụng bình nước nóng, ngoài việc bình nóng lạnh nên đặt gần nơi sử dụng, thì chúng ta nên đặt độ cao của bình so với vòi như thế nào?	
a. Dưới 2m.	x
b. Dưới 3m.	
c. Dưới 4m.	
d. Tất cả các câu trên đều sai	
Câu 80. Hãy lựa chọn phương pháp tắt tivi tối ưu nhất để tiết kiệm điện khi không có nhu cầu xem tivi.	
a. Tắt bằng điều kiển từ xa.	
b. Tắt bằng công tắc nguồn.	
c. Rút phích cắm tivi ra khỏi ổ cắm.	x
d. Tất cả các câu trên đều đúng	
Câu 81: Thế nào là nguồn năng lượng tái tạo?	
A. Nguồn năng lượng tái tạo là nguồn năng lượng có sẵn trong thiên nhiên và có thể cạn kiệt	
B. Nguồn năng lượng tái tạo là nguồn năng lượng có sẵn trong thiên nhiên, liên tục được bổ sung thông qua các quá trình tự nhiên.	x
C. Nguồn năng lượng tái tạo là nguồn năng lượng con người tự tạo ra và cung cấp liên tục thông qua các quá trình chuyển hóa.	
D. Nguồn năng lượng tái tạo là nguồn năng lượng không có sẵn trong thiên nhiên và có thể cạn kiệt.	
Câu 82: Biện pháp nào dưới đây giúp tiết kiệm năng lượng?	
A. Tận dụng ánh sáng tự nhiên thay vì thắp sáng đèn vào ban ngày.	
B. Tắt các thiết bị điện khi không sử dụng.	
C. Sử dụng máy điều hòa đúng cách.	
D. Tất cả các biện pháp trên.	x
Câu 83: Dạng năng lượng nào không phải là năng lượng tái tạo?	
A. Năng lượng thuỷ triều.	
B. Năng lượng gió.	
C. Năng lượng mặt trời.	
D. Năng lượng khí đốt.	x
Câu 84: Đèn chiếu sáng là thiết bị không thể thiếu trong mỗi gia đình. Trong các loại đèn dưới đây, loại đèn nào tiết kiệm điện nhất?	
A.  Đèn huỳnh quang (đèn tuýp, đèn ống)	
B.  Đèn LED	x
C. Đèn compact	
D. Đèn sợi đốt	
Câu 85: Cách sử dụng nào dưới đây là tiết kiệm điện năng?	
A. Sử dụng đèn công suất là 100W	
B. Sử dụng thiết bị điện khi cần thiết.	x
C. Cho quạt chạy khi mọi người đi khỏi nhà.	
D. Bật sáng tất cả các đèn trong nhà suốt đêm.	
Câu 86: Mẹo lựa chọn các thiết bị tiết kiệm điện năng?	
A. Ưu tiên lựa chọn các thiết bị có giá thành cao, mẫu mã đẹp	
B. Chọn các thiết bị có dán nhãn năng lượng	x
C. Chọn thiết bị có công suất phù hợp với nhu cầu sử dụng	
D. Dùng thử trước khi mua	
Câu 87: Lợi ích của năng lượng tái tạo?	
A. Là nguồn năng lượng sạch hoàn toàn, thân thiện với thiên nhiên và hạn chế tối đa ô nhiễm đến môi trường	
B. Năng lượng tái tạo có độ bền cao, chi phí bảo trì và bảo dưỡng thấp	
C. Khi sử dụng sẽ giúp tiết kiệm điện năng cho hộ gia đình, doanh nghiệp, nhà máy, ...	
D. Tất cả các đáp án trên	x
Câu 88: Sử dụng loại đèn nào dưới đây không tiết kiệm điện?	
A. Đèn compact	
B. Đèn dây tóc nóng sáng	x
C. Đèn LED (điốt phát quang)	
D. Đèn ống (đèn huỳnh quang)	
Câu 89: Trong các hành động sau đây, hành động nào lãng phí năng lượng?	
A. Ti vi không dùng nhưng vẫn bật.	
B. Trời sáng nhưng vẫn bật đèn	
C. Hai bếp đun đã sôi nhưng không tắt bếp.	
D. Cả 3 phương án trên.	x
Câu 90: Để tiết kiệm điện cho máy điều hòa trong văn phòng chúng ta cần phải đặt nhiệt độ là bao nhiêu? 	
A. 18ºC	
B. 25ºC trở lên	x
C. 20 - 24ºC 	
D. Bao nhiêu độ C cũng được	
Câu 91. Tiết kiệm điện là gì?	
a. Tiết kiệm điện năng là quá trình sử dụng điện một cách hiệu quả, tối ưu hóa việc sử dụng các thiết bị điện để giảm thiểu điện và năng lượng tiêu thụ.	x
b. Giảm bớt thiết bị sử dụng điện.	
c. Trả hóa đơn tiền điện ít hơn bình thường .	
d. Tắt bớt các thiết bị sử dụng điện .	
Câu 92: Các đối tượng phải thực hiện tiết kiệm điện theo Chỉ thị số 20/CT-TTg ngày 07/5/2020 về việc tăng cường tiết kiệm điện giai đoạn 2020-2025?	
a. Cơ quan, công sở; Chiếu sáng công cộng, quảng cáo; Hộ gia đình; Kinh doanh thương mại và dịch vụ; Doanh nghiệp sản xuất.	x
b. Chỉ thị không quy định nội dung này.	
c. Cơ quan, công sở, trường học, bệnh viện.	
d. Sinh hoạt và kinh doanh dịch vụ; Sản xuất.	
Câu 93. Lợi ích của việc tiết kiệm điện mang lại cho chúng ta giá trị gì ? Hệ quả của việc lãng phí tài nguyên.	
a. Hiểu rõ việc tiết kiệm điện mang nhiều lợi ích thiết thực cho gia đình và xã hội từ đó thực hiện việc tiết kiệm điện.	
b. Tiết kiệm điện giúp tiết kiệm tài nguyên nước, rừng, bảo vệ môi trường. Đồng thời, nâng cao tinh thần chia sẻ cộng đồng.	
c. Việc sử dụng điện năng một cách lãng phí không chỉ tiêu tốn tài nguyên mà còn gây ảnh hưởng tiêu cực đến môi trường và ngân sách của nhà nước và của chính chúng ta	
d. Tất cả các câu trên đều đúng.	x
Câu 94. Theo bạn sử dụng năng lượng tiết kiệm và hiệu quả là:	
a. Việc áp dụng các biện pháp quản lý và kỹ thuật nhằm giảm tổn thất, giảm mức tiêu thụ năng lượng của phương tiện, thiết bị mà vẫn bảo đảm nhu cầu, mục tiêu đặt ra đối với quá trình sản xuất và đời sống.	x
b. Hạn chế sử dụng các phương tiện, thiết bị tiêu thụ năng lượng lớn để giảm chi phí năng lượng.	
c. Không sử dụng các thiết bị tiêu thụ điện vào giờ cao điểm nhằm giảm chi phí tiền điện hàng tháng.	
d. Nghiêm cấm sử dụng các phương tiện, thiết bị tiêu thụ năng lượng lớn hoặc có công nghệ lạc hậu, hiệu suất thấp.	
Câu 95. Bạn hiểu và đã làm gì để tiết kiệm điện và thực hiện nó như thế nào?	
a. Hiểu rõ việc tiết kiệm điện mang đến nhiều lợi ích thiết thực đến tất cả các hoạt động trong đời sống, xã hội.	
b. Bản thân phải thực hiện nó hàng giờ, hàng ngày. Sử dụng điện khi cần thiết và tắt các thiết bị không sử dụng, tránh lãng phí.	
c. Vận động mọi người trong gia đình, bạn bè trong trường học, cơ quan, công sở thực hiện việc tiết kiệm điện.	
d. Tất cả các câu trên đều đúng.	x
Câu 96. Theo bạn các thiết bị nào sau đây sử dụng điện năng nhiều nhất?	
a. Bóng đèn Led.	
b. Máy Lạnh, Bàn ủi điện, Bếp điện, Lò nướng,	x
c. Quạt máy.	
d. Nồi nấu cơm điện.	
Câu 97. Theo Chỉ thị số 20/CT-TTg ngày 07/5/2020 của Thủ tướng Chính phủ về tăng cường tiết kiệm điện giai đoạn 2020-2025, một trong các giải pháp tiết kiệm điện tại doanh nghiệp sản xuất là gì?	
a. Cơ sở sử dụng năng lượng trọng điểm phải tiết kiệm ít nhất 2% điện năng tiêu thụ trên một đơn vị sản phẩm mỗi năm, rà soát, chấn chỉnh việc chấp hành Luật Sử dụng năng lượng tiết kiệm và hiệu quả và các văn bản quy phạm pháp luật về sử dụng năng lượng tiết kiệm và hiệu quả có liên quan	x
b. Phải tiết kiệm ít nhất bằng 1% chi phí tiền điện so với tháng trước đó, lắp đặt điện mặt trời tự sử dụng	
c. Phải tiết kiệm ít nhất bằng 1% chi phí tiền điện so với năm trước đó, sử dụng đèn LED thay đèn huỳnh quang.	
d. Phải tiết kiệm ít nhất bằng 1% điện năng tiêu thụ so với năm trước đó, sử dụng máy lạnh có biến tần.	
Câu 98. Theo Luật sử dụng năng lượng tiết kiệm và hiệu quả, nhãn năng lượng là gì?	
a. Là nhãn chứng nhận phương tiện, thiết bị có hiệu suất năng lượng cao nhất so với phương tiện, thiết bị khác cùng loại.	
b. Là nhãn thể hiện hình biểu tượng Tiết kiệm năng lượng.	
c. Là nhãn cung cấp thông tin về loại năng lượng sử dụng, mức tiêu thụ năng lượng, hiệu suất năng lượng và các thông tin khác giúp người tiêu dùng nhận biết và lựa chọn phương tiện, thiết bị tiết kiệm năng lượng.	x
d. Là nhãn cung cấp thông tin về mức tiêu thụ năng lượng của năng lượng.	
Câu 99. Khi mua các thiết bị điện bạn quan tâm điều gì?	
a. Thiết bị điện có giá bán thấp nhưng không tiết kiệm điện.	
b. Thiết bị điện có giá bán cao, có tiết kiệm điện.	
c. Thiết bị điện không tiết kiệm điện	
d. Thiết bị điện có giá cả phù hợp túi tiền người tiêu dùng và có dán nhãn tiết kiện điện	x
Câu 100. Theo Luật sử dụng năng lượng tiết kiệm và hiệu quả, tài nguyên năng lượng tái tạo bao gồm các loại tài nguyên nào sau đây?	
a. Sức nước, sức gió, ánh sáng mặt trời, địa nhiệt, nhiên liệu sinh học và các tài nguyên năng lượng khác có khả năng tái tạo	x
Câu 1. Tại sao cần kêu gọi mọi gia đình hưởng ứng tham gia Chiến dịch toàn cầu Giờ Trái đất (Earth Hour)?	
c. Sức gió, sức nước, ánh sáng mặt trời, địa nhiệt, quặng urani.	
Câu 101. Tại sao cần kêu gọi mọi gia đình hưởng ứng tham gia Chiến dịch toàn cầu Giờ Trái đất (Earth Hour)?	
a. Giảm thiểu khí thải CO2, giảm hiệu ứng nhà kính, chống biến đổi khí hậu	x
b. Tăng hiệu quả của việc sử dụng thiết bị di động	
c. Giảm năng suất làm việc của con người	
d. Tăng chi phí sử dụng điện	
Câu 102. Trong tự nhiên, các nhóm nguồn năng lượng gồm có ?	
a. Nguồn năng lượng tái tạo và nguồn năng lượng không tái tạo.	x
b. Nguồn năng lượng tái tạo và nguồn năng lượng nhân tạo.	
c. Nguồn năng lượng nhân tạo và nguồn năng lượng không tái tạo	
d.Cả A,B,C đều đúng	
Câu 103. Tổ chức, hộ gia đình, cá nhân sản xuất nông nghiệp lựa chọn các biện pháp hợp lý sau đây để sử dụng năng lượng điện tiết kiệm và hiệu quả?	
a. Sử dụng thiết bị, công nghệ năng lượng sạch, năng lượng tái tạo trong sản xuẩt, vận chuyển sản phẩm nông nghiệp và phát triển ngành nghề	
b. Sử dụng phương tiện, thiết bị, máy móc có công nghệ lạc hậu, hiệu suất năng lượng thấp	
c. Tắt các thiết bị điện không cần thiết khi ra khỏi nhà, khỏi phòng	
d. Đáp án A và C đúng.	x
Câu 104. Ở nước ta, mạng điện trong nhà có cấp điện áp là?	
a. 220V	x
b. 380V	
c. 110V	
d, Tất cả đều sai	
Câu 105. Trong tình huống xảy ra sự cố điện trong nhà, chúng ta nên làm gì đầu tiên?	
a. Sử dụng nước để dập lửa	
b. Gọi người trợ giúp và rời khỏi nguy hiểm	x
c. Tiếp tục xem tivi khi đang có sử cố 	
d. Gọi đến cơ sở y tế hỗ trợ	
Câu 106. Nguyên nhân chính gây ra chập cháy khi sử dụng nhiều thiết bị điện cùng một lúc là?	
a. Sử dụng điện quá nhiều	
b. Quá tải ổ cắm điện	x
c. Thiết bị điện hỏng hóc	
d. Tất cả đều đúng	
Câu 107. Lợi ích của việc sử dụng điện tiết kiệm là gì?	
a. Tiết kiệm lượng điện năng tiêu thụ ảnh hưởng đến nhu cầu đời sống;	
b. Tiết kiệm chi phí sử dụng điện, bảo vệ môi trường, thực thi chính sách của Nhà nước;	x
c. Đem lại lời nhuận cho người bán thiết bị;	
d. Tất cả đều đúng	
Câu 108. Việt Nam bắt đầu tham gia chiến dịch Giờ Trái đất bắt đầu từ năm nào?	
a. 2008;	
b. 2009;	x
c. Cả A và B đều đúng	
Câu 109. Đâu là lợi ích khi tiết kiệm năng lượng trong sinh hoạt?	
a. Rút nguồn tất cả các thiết bị điện khi không sử dụng.	x
b. Tắt thiết bị điện và chuyển sang chế độ ngủ.	
c. Mở thiết bị cần thiết để sử dụng	
d. Luôn bật điều hòa ở nhiệt độ 19 độ C	
Câu 110. Khi chọn mua máy lọc không khí, cần dựa vào lưu lượng gió phù hợp với diện tích sử dụng?	
a. Mở điều hòa theo nhiệt độ quá thấp	
b. Sử dụng điều hòa ở nhiệt độ khoảng từ 26 - 27 độ C.	x
c. Tất cả A và B đúng	
Câu 111: Các vật liệu dẫn điện?	
a. Đồng	
b. Nhôm	
c. Sắt	
d. Tất cả đều đúng	x
Câu 112: Các vật liệu cách điện	
a. Cao su	
b. Nhựa	
c. Gỗ	
d. Tất cả đều đúng	x
Câu 113: Số điện thoại tổng đài Tổng công ty Điện lực TP. Hồ Chí Minh	
a. 1900545454	x
b. 1900646464	
c. 1900595959	
d. 1900112233	
Câu 114: Số điện thoại Tổng đài 1900545454 là của đơn vị nào?	
a. Tổng Công ty Điện lực TP. Hồ Chí Minh	x
b. Tổng công ty Điện lực miền Nam	
c. Tổng Công ty Điện lực miền Bắc	
d. Tổng Công ty Điện lực miền Trung	
Câu 115: Có được thả diều gần đường dây điện cao thế không?	
a. Có	
b. Không	x
Câu 116:Việc gửi thông tin đến khách hàng được hỗ trợ qua các kênh?	
a. Ứng dụng EVNHCMC CSKH, Zalo 	
b. SMS 	
c. Email	
d. Tất cả đều đúng	x
Câu 117: Trong các loại máy giặt dưới đây, loại nào tiêu thụ điện và nước ít hơn?	
a. Máy giặt lồng đứng	
b. Máy giặt lồng ngang	
c. máy giặt lồng nghiêng	
d. Cả b và c đều đúng	x
Câu 118: Khi chọn mua máy lọc không khí, cần dựa vào lưu lượng gió phù hợp với diện tích sử dụng như thế nào? (Chọn đáp án đúng)	
a. 15-20 m2 - lưu lượng gió 180 m3 /h	x
b. 15-20 m2 - lưu lượng gió 240 m3 /h	
c. 15-20 m2 - lưu lượng gió 360 m3 /h	
d. Tất cả đều đúng	
Câu 119: Nếu bàn ủi bạn dùng chỉ chia mức nhiệt theo mức 1, 2, 3 mà không có ký hiệu về chất liệu vải thì thứ tự tương ứng nào của các chất liệu sau đây là đúng ?	
a. Vải sợi tổng hợp (acrylic, viscose,polyamide, polyester), sợi tơ tằm - Vải len - Vải bông, cotton	x
b. Vải len - Vải bông, cotton - Vải sợi tổng hợp (acrylic, viscose,polyamide, polyester), sợi tơ tằm	
c. Vải bông, cotton - Vải sợi tổng hợp (acrylic, viscose,polyamide, polyester), sợi tơ tằm - Vải len	
Câu 120: Trong các đáp án dưới đây, chọn đáp án dung tích nồi cơm điện phù hợp với số lượng người trong gia đình:	
a. 2 người - dung tích dưới 1 lít	
b. 2 - 4 người - dung tích 1 - 1,5 lít	
c. 4 - 6 người - dung tích  1,6 - 2 lít	
d. Trên 6 người - dung tích trên 2 lít	
e. Tất cả đều đúng	x
Câu 121: Trong những ngành dưới đây, ngành nào tiêu thụ năng lượng nhiều nhất?	
A. Công nghiệp, xây dựng	X
B. Nông, lâm, ngư nghiệp	
C. Thương mại dịch vụ	
D. Quản lý tiêu dùng	
Câu 122: Mẹo lựa chọn các thiết bị tiết kiệm điện năng?	
A. Ưu tiên lựa chọn các thiết bị có giá thành cao, mẫu mã đẹp	
B. Chọn các thiết bị có dán nhãn năng lượng	
C. Chọn thiết bị có công suất phù hợp với nhu cầu sử dụng	X
D. Dùng thử trước khi mua	
Câu 123: Trong các loại năng lượng dưới đây, loại nào không phải là năng lượng tái tạo?	
A. Điện mặt trời	
B. Nhiệt điện than	X
C. Thuỷ điện	
D. Phong điện	
Câu 124: Trong các loại đèn chiếu sáng dưới đây, loại đèn nào tiết kiệm điện nhất?	
A. Đèn huỳnh quang (đèn tuýp, đèn ống)	
B. Đèn LED	X
C. Đèn compact	
D. Đèn sợi đốt	
Câu 125: Hãy chỉ ra cách sử dụng quạt điện nhằm tiết kiệm điện năng hiệu quả nhất?	
A. Thay vì chọn tốc độ gió cao nhất, hãy chọn mức gió nhẹ hoặc trung bình đủ để làm dịu không khí	
B. Tắt quạt, rút phích cắm khi không sử dụng	
C. Tận dụng chế độ hẹn giờ và thường xuyên bảo trì quạt	
D. Cả 3 đáp án trên	X
Câu 126: Hãy chỉ ra cách sử dụng quạt công nghiệp giúp tiết kiệm điện năng?	
A. Điều chỉnh quạt ở tốc độ vừa phải, không bật quạt ở tốc độ lớn	
B. Thường xuyên bảo trì quạt bằng cách kiểm tra định kỳ tất cả các cấu thành của hệ thống, bôi trơn và thay thế ổ đỡ, sửa chữa hoặc thay động cơ, lau chùi quạt	
C. Vệ sinh quạt sau 1 - 2 tháng sử dụng	
D. Tất cả các đáp án trên đều đúng	X
Câu 127: Trên thị trường hiện nay có nhiều loại tivi với các công nghệ khác nhau, người tiêu dùng nên lựa chọn tivi có công nghệ nào để tiết kiệm điện năng?	
A. Công nghệ Plasma	
B. Công nghệ LCD	
C. Công nghệ LED	
D. Công nghệ OLED	X
Câu 128: Hãy chỉ ra cách sử dụng bàn là ( bàn ủi) tiết kiệm điện năng?	
A. Lau sạch bề mặt kim loại của bàn là trước khi sử dụng	
B. Cài đặt nhiệt độ của bàn là thích hợp cho từng loại vải	
C. Tập trung tất cả đồ cần là một lần và phân loại quần áo trước khi là để tận dụng sức nóng liên tục của bàn là	
D. Tất cả các đáp án trên đều đúng	X
Câu 129: Để sử dụng bếp từ an toàn, tiết kiệm và hiệu quả cần lưu ý những gì?	
A. Không nên để bếp gần các nơi nóng, có hơi nước, nhiệt độ môi trường đặt bếp từ nên trong khoảng khoảng 10 độ C đến 40 độ C	
B. Sử dụng dây dẫn điện phải chịu được tải của công suất bếp từ, phải dùng các phích cắm và ổ cắm riêng. Với các bếp từ công suất lớn, cần có dây nối đất cho bếp từ	
C. Khi dùng bếp điện từ phải đặt nồi trong phạm vi quy định rồi mới bật công tắc điện và điều chỉnh chiết áp công suất đến mức tương ứng	
D. Tất cả các đáp án trên	X
Câu 130: Nên chọn loại nồi nào để sử dụng bếp điện từ?	
A. Nồi đất	
B. Nồi thuỷ tinh	
C. Nồi inox có từ tính	
D. Tất cả các đáp án đều sai	X
Câu 131: Trong 3 loại máy giặt dưới đây, loại máy giặt nào tiêu thụ điện năng nhiều nhất?	
A. Máy giặt lồng đứng	
B. Máy giặt lồng ngang	X
C. Máy giặt lồng nghiêng	
D. Cả 3 loại tiêu thụ điện năng như nhau	
Câu 132: Hãy lựa chọn khối lượng máy sấy quần áo phù hợp với gia đình có 3-4 thành viên?	
A. 4-5kg	
B. 5-7kg	X
C. Trên 7kg	
D. Máy càng lớn sấy càng nhanh	
Câu 133: Đối với điều hòa không khí, đâu là công nghệ tiết kiệm điện được sử dụng phổ biến nhất hiện nay?	
A. Công nghệ nano phân tử	
B. Công nghệ trí tuệ nhân tạo (AI)	
C. Công nghệ biến tần (inverter)	X
D. Công nghệ lượng tử	
Câu 134: Các nghiên cứu chỉ ra rằng cứ cài đặt nhiệt độ điều hoà tăng 1 độ C sẽ tiết kiệm được 1 - 3% điện năng. Vậy, nếu nhiệt độ bên ngoài là 32 độ C, nhiệt độ cài đặt cao nhất của điều hòa không khí nên là bao nhiêu sẽ tiết kiệm điện năng tiêu thụ?	
A. 24 - 26 độ C	
B. 25 - 27 độ C	
C. 26 - 28 độ C	
D. 27 - 29 độ C	X
Câu 135: Để tiết kiệm điện năng, nên sử dụng máy tính như thế nào?	
A. Chỉ tắt máy tính khi không sử dụng trong thời gian trên 5 giờ	
B. Giảm độ sáng màn hình. Kích hoạt tất cả các tính năng tiết kiệm năng lượng có trên hệ thống máy tính, màn hình và các thiết bị kết nối	X
C. Thoát các chương trình không cần thiết và lựa chọn chế độ tắt máy phù hợp	
D. Tất cả các đáp án trên đều đúng	
Câu 136: Sử dụng tiết kiệm điện năng không mang lại lợi ích nào dưới đây?	
A. Góp phần làm giảm ô nhiễm môi trường.	
B. Góp phần phát triển sản xuất.	
C. Góp phần chữa các bệnh hiểm nghèo.	x
D. Góp phần làm giảm bớt các sự cố về điện.	
Câu 137: Sử dụng loại đèn nào dưới đây sẽ tiêu thụ điện năng nhiều nhất?	
A. Đèn compac	
B. Đèn dây tóc nóng sáng	x
C. Đèn LED (điốt phát quang)	
D. Đèn ống (đèn huỳnh quang)	
Câu 138: Cần phải sử dụng tiết kiệm điện năng vì:	
A. Dùng nhiều điện ở gia đình dễ gây ô nhiễm môi trường.	
B. Dùng nhiều điện dễ gây tai nạn nguy hiểm tới tính mạng con người.	
C. Như vậy sẽ giảm bớt chi phí cho gia đình và dành nhiều điện năng cho sản xuất.	x
D. Càng dùng nhiều điện thì tổn hao vô ích càng lớn và càng tốn kém cho gia đình và cho xã hội.	
Câu 139: Cách sử dụng nào dưới đây là tiết kiệm điện năng?	
A. Sử dụng đèn công suất là 100W.	
B. Sử dụng thiết bị điện khi cần thiết.	x
C. Cho quạt chạy khi mọi người đi khỏi nhà.	
D. Bật sáng tất cả các đèn trong nhà suốt đêm.	
Cách sử dụng là tiết kiệm điện năng: Sử dụng thiết bị điện khi cần thiết	
Câu 140: Hành động nào sau đây gây lãng phí năng lượng?	
A. Buổi trưa trời sáng bật đèn, ti vi, quạt và điều hòa đặt nồi đun trên bếp gas rồi nằm ngủ trưa.	x
B. Sử dụng đèn LED thay cho đèn sợi đốt.	
C. Để chế độ tiết kiệm điện khi sử dụng ti vi, điện thoại.	
D. Tắt các thiết bị điện không cần thiết khi ra khỏi nhà, khỏi phòng.	
Câu 141: Các nguồn năng lượng không tái tạo gây ra tác động gì đến sức khỏe con người?	
A. Hỗ trợ cho hệ hô hấp của con người.	
B. Ít tạo ra các chất thải có hại cho sức khỏe con người.	
C. Thải ra khí độc hại gây ra các vấn đề nghiêm trọng về hô hấp.	x
D. Không gây tác động có hại gì đến sức khỏe của con người.	
Câu 142: Đâu là lợi ích khi tiết kiệm năng lượng?	
A. Giúp tiết kiệm chi phí.	
B. Bảo tồn các nguồn năng lượng không tái tạo.	
C. Giảm lượng chất thải, giảm ô nhiễm môi trường.	
D. Cả ba đáp án A, B, C đều đúng.	x
Câu 143: Khi sử dụng điều hòa, đâu là biện pháp giúp tiết kiệm điện?	
A. Không bảo dưỡng điều hòa định kì.	
B. Bật điều hòa cả ngày ngay cả khi không sử dụng.	
C. Sử dụng điều hòa ở nhiệt độ khoảng từ 25 - 27 độ C.	x
D. Để nhiệt độ của điều hòa quá thấp.	
Câu 144: Chọn biện pháp đúng giúp tiết kiệm điện khi sử dụng ti vi:	
A. Ngủ quên khi xem ti vi, để ti vi chạy cả đêm.	
B. Cùng xem ti vi với mọi người trong gia đình dù nhà có nhiều ti vi.	x
C. Không cài đặt chế độ tiết kiệm điện khi xem ti vi.	
D. Quên không tắt ti vi khi không xem.	
Câu 145: Đâu là biện pháp giúp tiết kiệm điện khi dùng bếp điện, lò vi sóng?	
A. Vệ sinh bếp thường xuyên, ngay sau khi nấu ăn.	
B. Không sử dụng bếp ở nhiệt độ quá cao.	
C. Sử dụng bếp đúng các chức năng đã được cài đặt.	
D. Cả ba đáp án A, B và C đều đúng.	x
Câu 146: Thực trạng nào cho thấy tính cần thiết cần tiết kiệm khi sử dụng năng lượng?	
A. Các dạng năng lượng không tái tạo đang dần cạn kiệt.	
B. Con người chưa tìm được nguồn năng lượng thay thế hoàn toàn cho các dạng năng lượng không tái tạo.	
C. Các dạng năng lượng tái tạo đang dần được sử dụng nhiều hơn.	
D. Cả hai đáp án A và B đều đúng.	x
Câu 147: Loại năng lượng nào được tiết kiệm trong các trường hợp sau?	
(1) Rút phích cắm hoặc tắt các thiết bị điện không sử dụng.	
(2) Đóng, mở tủ lạnh hoặc máy điều hòa đúng cách.	
(3) Tận dụng ánh sáng tự nhiên thay vì đèn thắp sáng vào ban ngày.	
A. Điện năng.	x
B. Quang năng.	
C. Nhiệt năng.	
D. Động năng.	
Câu 148: Biện pháp nào sau đây giúp hạn chế sử dụng dạng năng lượng không tái tạo?	
A. Chuyên đổi từ sử dụng ô tô, xe máy chạy bằng xăng sang ô tô, xe máy chạy bằng điện.	
B. Tắt máy khi dừng xe chờ đèn đỏ lâu.	
C. Chuyển từ sử dụng than đá sang sử dụng than sản xuất từ lõi ngô, bã mía.	
D. Cả ba biện pháp A, B, C đều đúng.	x
Câu 149: Đối với gia đình có nhu cầu in ấn văn bản thông thường, nên lựa chọn sử dụng loại máy in nào sau đây để tiết kiệm năng lượng:	
A. Máy in laser đơn sắc;	x
B. Máy in công nghiệp;	
C. Máy in laser màu;	
D. Câu A và B đúng;	
Câu 150. Nên nấu cơm bằng nồi cơm điện trước khi ăn bao lâu để tiết kiệm điện năng?	
A. Nên nấu trước khoảng 30 - 45 phút;	x
B. Nấu trước bao lâu cũng được vì cơm đã chín không tiêu thụ điện năng;	
C. Nấu trước khoảng 2 tiếng để đảm bảo độ chín của cơm;	
D. Cả 3 câu trên đều sai;	
Câu 151. Trong những ngành dưới đây, ngành nào tiêu thụ năng lượng nhiều nhất?	
A. Công nghiệp, xây dựng;	x
B. Nông, lâm, ngư nghiệp;	
C. Thương mại dịch vụ;	
D. Quản lý tiêu dùng;	
Câu 152. Trong các loại năng lượng dưới đây, loại nào không phải là năng lượng tái tạo?	
A. Điện mặt trời;	
B. Nhiệt điện than;	x
C. Thuỷ điện;	
D. Phong điện;	
Câu 153. Đối với gia đình có 5-6 thành viên thì nên chọn lò vi sóng có công suất bao nhiêu?	
A. 600 – 750 (W);	
B. 700 – 900 (W);	
C. 800 – 1000 (W);	x
D. 850 – 1100 (W);	
Câu 154. Đâu là cách sử dụng máy sấy tóc giúp tiết kiệm điện?	
A. Lau tóc khô tối đa trước khi sử dụng máy sấy;	
B. Không để máy sấy tóc sử dụng quá lâu;	
C. Trong khi sấy tóc, cứ sau 10 giây thì nên chuyển đổi giữa chế độ sấy nóng sang chế độ chỉ thổi gió. Khi tóc gần khô nên chuyển hẳn sang chế độ chỉ quạt;	
D. Cả 3 câu trên đều đúng;	x
Câu 155. Bàn ủi tuy có kích thước nhỏ nhưng lại tiêu tốn lượng điện khá lớn so với các loại thiết bị điện khác do công suất lớn, tỏa nhiệt mạnh. Đâu là cách sử dụng bàn ủi gây lãng phí điện năng?	
A. Lau sạch bề mặt kim loại của bàn ủi trước khi sử dụng;	
B. Cài đặt nhiệt độ của bàn ủi thích hợp cho từng loại vải;	
C. Tập trung tất cả đồ cần ủi một lần và phân loại quần áo trước khi ủi để tận dụng sức nóng liên tục của bàn ủi;	
D. Ủi quần áo vào các khung giờ cao điểm 9h30 - 11h30 và từ 17h00 - 20h00	x
Câu 156.  Đối với điều hòa không khí, đâu là công nghệ tiết kiệm điện được sử dụng phổ biến nhất hiện nay?	
A. Công nghệ nano phân tử;	
B. Công nghệ trí tuệ nhân tạo (AI);	
C. Công nghệ biến tần (inverter);	x
D. Công nghệ lượng tử;	
c. Giảm năng suất làm việc của con người	
Câu 157. Giải pháp cốt lõi giúp các doanh nghiệp tiết kiệm năng lượng?	
A. Sử dụng ít năng lượng;	
B.  Đổi mới công nghệ;	x
C. Quản lý năng lượng;	
D. Nâng cao nhận thức của cán bộ công nhân viên;	
